body {
  background: url(https://image.freepik.com/free-photo/blur-shopping-mall_1203-8327.jpg)
    no-repeat;
  background-size: cover;
}

.container-navbar {
  margin: 0 auto;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.container-navbar img {
  height: 80px;
}

nav a {
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
  color: black;
}

main {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 50px;
}

main h1 {
  margin: 20px 0px 0px 20px;
  padding-top: 30px;
}

main img {
  float: left;
  height: 350px;
  padding: 20px;
}

main p {
  font-size: large;
  text-align: justify;
  padding: 10px 20px 10px 20px;
  margin: 0;
}

/* Contacts start ============================================================== */

.contacts-h1 {
  margin: 20px 0px 0px 38px;
  padding-top: 30px;
}

main span {
  color: green;
}

main input,
label,
textarea {
  display: block;
}

main input {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  font-size: larger;
  border: 1px solid rgb(172, 171, 171);
}

label {
  margin: 10px 0px 0px 38px;
  font-size: larger;
}

textarea {
  width: 90%;
  padding: 11px;
  margin: 0 auto;
  font-size: larger;
  border: 1px solid rgb(172, 171, 171);
}

.btn {
  width: 50%;
  margin: 20px 0px 0px 38px;
  outline: none;
  border: none;
  color: white;
  background-color: green;
}

table,
tr,
td,
th {
  border: 2px solid rgb(241, 240, 240);
  border-collapse: collapse;
  padding: 8px;
  font-size: large;
}

table {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

td {
  text-align: center;
}

td span {
  font-weight: bold;
}
/* Contacts end ============================================================== */

footer {
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  font-size: larger;
}
